{% extends "ecosite/layout.html" %}
{% load static %}



{% block head %}
    <title>Pagina inicial</title>
{% endblock %}
    
{% block body %}
    <div class="container-fluid">
        <div class="row">
            
            <div class="col text-center">Nossa Causa</div>
            <div class="col text-center">Parceiros</div>
            <div class="col text-center">Sugest&otilde;es</div>
            <div class="col text-center"><a href="{% url 'logout' %}">Log out</a></div>
        </div>
    </div>

    <div class="espaco"></div>
        
    </div>
    <h1 class="text-center" aria-setsize="4%">Compre a Briga</h1>
    <h4 class="text-center">Por um mundo mais sustent&aacute;vel</h4>
    <div class="espaco"></div>
    <div>
        Bem vindo, {{ request.user.first_name }} {{ request.user.last_name }}
    </div>
{% endblock %}