{% extends "ecosite/layout.html" %}
{% load static %}



{% block head %}
    <title>Pagina inicial</title>
{% endblock %}
    
{% block body %}
    <div class="container-flex">
        <div class="row">
            
            <div class="options col text-center">Nossa Causa</div>
            <div class="options col text-center">Parceiros</div>
            <div class="options col text-center">Sugest&otilde;es</div>
            <div class="options col text-center"><a href="{% url 'login' %}">Login</a>/<a href="{% url 'criar_user' %}">Criar Usu&aacute;rio</a></div>
        </div>
    </div>

    <div class="espaco"></div>
        
    </div>
    <h1 class="text-center" aria-setsize="4%">Compre a Briga</h1>
    <h4 class="text-center">Por um mundo mais sustent&aacute;vel</h4>
    <div class="espaco"></div>
    <h3>Produtos do dia</h3>
    <div class="container-fluid">
        <div class="row" style="margin-left: 5%;">

            {% for i in produtos %}
            <div class="produtos">
                {% if i.2 %}
                <div class="imagem-prod-div"><img class="imagem-prod" src="{{ i.2 }}" alt="{{ i.2 }}"></div>
                {% endif %}
                <div class="text-center">{{ i.0 }}</div>
                <div class="text-center">R${{ i.1 }}</div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}