@font-face {
    font-family: aileron-regular;
    src: url("fonts/aileron-regular") format("opentype");
}
@font-face {
    font-family: aileron;
    font-weight: bold;
    src: url("fonts/aileron-bold") format("opentype");
}

.row {
    margin: auto;
}
.col {
    border-radius: 25px;
    background-color: #F4FCB8;
    padding: 1%;
    margin: 1%;
}

body {
    font-family: "aileron-bold", Arial, Helvetica, sans-serif; 
    background-color: #95A868;
}
.espaco {
    margin: 5%;
}
h1 {
    color: #FFFFFF;
}
h4 {
    color: #452C18;
}